@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  /* border: 1px solid orange; */
  height: 100px;
}

#name {
  padding-top: 20px;
  /* border: 1px solid purple; */
  text-align: center;
  color: red;
}

a {
  border: 0;
}
#header {
  height: 19rem;
}

#container {
  display: flex;
  justify-content: center;
  align-content: space-around;
  padding-top: 2rem;
  max-width: 50%;
  margin: auto;
}

div.socialMediaIcons i {
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: lightgray;
  border-radius: 1rem;
  height: 2rem;
  width: 2rem;
}

i {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 25vw 25vw 25vw;
  justify-content: center;
  gap: 1%;
  /* border: 6px solid green; */
}

.card {
  position: relative;
  background: #000000;
  max-width: 100%;
  vertical-align: top;
  height: 210px;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  background: #000000;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

div.card img {
  width: 100%;
  vertical-align: top;
  max-height: 100%;
}

div.card.red {
  /* background-color: red; */
}
.card:hover img {
  opacity: 0.9;
}
div.card * {
  transition: all 0.5s ease-in-out;
}

footer {
  height: 100px;
  /* border: 1px red solid; */
}
